@using Northwind.Models
@model IEnumerable<Discount>

@foreach (Discount discount in Model)
{
    
    @* <div class="row justify-content-md-center">
        
        <a class=" col-3 list-group-item list-group-item-secondary">
        @discount.Title
        </a>
        <a class=" col-3 list-group-item list-group-item-secondary">
        @discount.Description
        </a>
        <a class="col-3 list-group-item list-group-item-secondary">
        @discount.DiscountPercent
        </a>
    </div> *@

    <div class="list-group">
  <a asp-controller="Product" asp-action="Discount" asp-route-id="@discount.DiscountId" class="col-md-4 list-group-item list-group-item-info">
     @discount.Title &#8212
        @discount.Description
        </a>
</div>
  }